@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/*Fix Dashboard*/
@media (min-width: 640px) {
    nav div {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
}
@layer components {
    .dark .bg-gray-100 {
        @apply bg-gray-900 text-white !important;
    }

    .dark .bg-gray-300 {
        @apply bg-gray-950 text-white !important;
    }

    .dark .bg-white {
        @apply bg-gray-800 text-white !important;
    }

    .dark .border-gray-300 {
        @apply border-gray-600 !important;
    }

    .dark .text-gray-500 {
        @apply text-gray-400 !important;
    }

    .dark .text-gray-600 {
        @apply text-gray-300 !important;
    }

    .dark .text-gray-700 {
        @apply text-gray-300 !important;
    }

    .dark .text-gray-800 {
        @apply text-gray-200 !important;
    }

    .dark .text-gray-900 {
        @apply text-gray-100 !important;
    }

    .dark .border-b,
    .dark .border-t {
        @apply border-gray-700 !important;
    }

    .dark nav {
        @apply bg-gray-800 text-white !important;
    }

    .dark header {
        @apply bg-gray-800 text-white !important;
    }

    .dark div:not(.div-exclude) {
        @apply bg-gray-800 text-white !important;
    }

    .dark a {
        @apply text-gray-100 !important;

    }

    .dark a:hover {
        @apply text-gray-300 !important;
    }

    a:hover {
        @apply text-gray-500 !important;

    }

    .dark input {
        @apply bg-gray-700 text-white !important;
    }

    input {
        @apply bg-gray-100 !important;
    }

    .dark button:not(.btn-exclude) {
        @apply bg-blue-700 text-white !important;
    }

    .dark button:not(.btn-exclude):hover {
        @apply bg-blue-500 !important;
    }

    button:not(.btn-exclude) {
        @apply bg-purple-700 text-white !important;
    }

    button:not(.btn-exclude):hover {
        @apply bg-purple-500 !important;
    }

    .dark .border-purple-700 {
        border-color: #1D4ED8 !important; /* Azul (corresponde a blue-700) */
    }
}
